@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="标示" underline="true"/>
                            <#input id="examCode" name="试卷编码" underline="true"/>
                            <#input id="studentCode" name="答题学员" underline="true"/>
                            <#input id="beginDate" name="开始时间" underline="true"/>
                            <#input id="endDate" name="结束时间"/>
                </div>

                <div class="col-sm-6">
                            <#input id="score" name="总分" underline="true"/>
                            <#input id="remark" name="备注" underline="true"/>
                            <#input id="grade" name="年级" underline="true"/>
                            <#input id="status" name="状态" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AnswerPaperInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AnswerPaperInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/answerMGR/answerPaper/answerPaper_info.js"></script>
@}
