application:
  swagger-open: true
  sign-open: true #签名机制是否开启(true或false)
  pay:
    mock:
      enable: false
    weixin:
      mch-id: 1522571191
      mch-name: 科萃教育
      app-id: wx98df91feb67af58c
      app-name: 科萃教育
      app-secret: eae820aa9d2d01c79bd2432854417b3b
      device-id: kc00000001
      order-url: https://api.mch.weixin.qq.com/pay/unifiedorder
      notify-url: http://www.kecui.com.cn/api/pay/weixin/notify
  message:
    captch.template: SMS_150742325
  education:
    adust.maxTimes: 4
  auth:
    enable: true #jwt鉴权机制是否开启(true或者false)
    header: Authorization #http请求头所需要的字段
    secret: kc-secret-!q2W        #jwt秘钥
    expiration: 604800      #7天 单位:秒
    path: auth         #认证请求的路径
    md5-key: randomKey      #md5加密混淆key
    exclude-pattern:
      - /webjars/**
      - /swagger*/**
      - /swagger*.*
      - /v2/**
      - /csrf/**
      - /message/captcha/send
      - /member/regist
      - /member/login*
      - /content/**
      - /pay/weixin/notify
      - /update/**

mybatis-plus:
  typeAliasesPackage: com.stylefeng.guns.modular.system.model
  mapperLocations: classpath*:mapper/*.xml
  global-config:
    id-type: 0  #0:数据库ID自增   1:用户输入id  2:全局唯一id(IdWorker)  3:全局唯一ID(uuid)
    db-column-underline: false
    refresh-mapper: true
#  configLocation: classpath*:mybatis-config.xml
  configuration:
    map-underscore-to-camel-case: false
    cache-enabled: true #配置的缓存的全局开关
    lazyLoadingEnabled: true #延时加载的开关
    multipleResultSetsEnabled: true #开启的话，延时加载一个属性时会加载该对象全部属性，否则按需加载属性
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl #打印sql语句,调试用

spring:
  profiles:
    active: local
  messages:
    always-use-message-format: true
    basename: i18n/messages
    cache-seconds: 60
    encoding: UTF-8
    fallback-to-system-locale: true

---

spring:
  profiles: local
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    jdbcUrl: jdbc:mysql://127.0.0.1:3306/kcdb?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=UTC
    username: kcapp
    password: h,M)Hww0,.rz
    db-name: kcdb #用来搜集数据库的所有表
    type: com.zaxxer.hikari.HikariDataSource
    hikari.minimum-idle: 5
    hikari.maximum-pool-size: 15
    hikari.auto-commit: true
    hikari.idle-timeout: 30000
    hikari.pool-name: EduCP
    hikari.max-lifetime: 1800000
    hikari.connection-timeout: 30000
    hikari.connection-test-query: SELECT 1
    filters: wall,mergeStat
logging:
  config: classpath:logback-spring.xml
server:
  port: 8081 #项目端口
  servlet:
    context-path: /api
  tomcat:
    max-connections: 5
    uri-encoding: UTF-8
    accept-count: 5
    max-threads: 10
application:
  message:
    sms.sender.enable: false
  attachment:
      visit-url: http://127.0.0.1:8081/api/attachment/download
      store-path: H:/Datas/gs/upload

---

spring:
  profiles: produce
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    jdbcUrl: jdbc:mysql://172.26.140.96:33009/kcdb?autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&serverTimezone=UTC
    username: kcapp
    password: h,M)Hww0,.rz
    db-name: kcdb #用来搜集数据库的所有表
    type: com.zaxxer.hikari.HikariDataSource
    hikari.minimum-idle: 10
    hikari.maximum-pool-size: 50
    hikari.auto-commit: true
    hikari.idle-timeout: 30000
    hikari.pool-name: EduCP
    hikari.max-lifetime: 1800000
    hikari.connection-timeout: 30000
    hikari.connection-test-query: SELECT 1
    filters: wall,mergeStat
logging:
  config: file:///home/app/config/logback-api.xml
server:
  port: 18002
  servlet:
    context-path: /api
  tomcat:
    max-connections: 1024
    uri-encoding: UTF-8
    accept-count: 768
    max-threads: 1024
application:
  message:
    sms.sender.enable: true
  attachment:
      visit-url: http://39.98.48.194/download
      store-path: /home/app/data/upload
#启用shutdown
management:
  server:
    port: 18011
  endpoint:
    health:
      show-details: always
  endpoints:
    enabled-by-default: true
    shutdown.enabled: true
