@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="columnInfoForm">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <!--<div id="columnTreeContainer">
                        <ul id="columnTree" class="ztree tree-box"></ul>
                    </div>-->
                    <#table id="UnSelectContentTable"/>
                </div>

                <div class="col-sm-6">

                    <#table id="SelectedContentTable"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="加入栏目" id="ensure" icon="fa-check" clickFun="ColumnInfoDlg.editSubmit()"/>
                    <#button btnCss="info" name="移出栏目" id="ensure" icon="fa-check" clickFun="ColumnInfoDlg.editSubmit()"/>
                    <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="ColumnInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ColumnInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<#script src="/static/modular/column/column/column_collect.js" />
@}
