@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content" id="itemInfoForm">
        <div class="form-horizontal">
            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="gradeValue" value="${item.grade}">
            <input type="hidden" id="qcodeValue" value="${item.qcode}">
            <input type="hidden" id="abilityValue" value="${item.ability}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">试题编码</label>
                                <div class="col-sm-9">
                                    <select id="qcode" name="试题编码" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <#dictSelector id="grade" name ="年级" code="school_grade" label="年级"  underline="true"  width="75%"/>
                </div>

                <div class="col-sm-6">
                            <#dictSelector id="ability" name ="对应班次" code="ability" label="对应班次"  underline="true"  width="75%"/>
                            <#input id="score" name="所含分值" value="${item.score}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="QuestionWeightInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="QuestionWeightInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/questionRelationMGR/questionWeight/questionWeight_info.js"></script>
@}
