@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<style>
    .wizard-big.wizard > .content{
        height: auto !important;
        min-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .pagination ul > li
    {
        display: inline !important;
        padding: 0;
    }
</style>
<div class="ibox float-e-margins" style="heigth: 100%;">
    <div class="ibox-content">
        <div id="wizard" class="wizard-big" style="overflow-y:auto; overflow-x: hidden; height: auto !important; min-height: 600px;">
            <h1>学生信息</h1>
            <fieldset>
                <form id="basicForm" class="form-horizontal">
                    <div class="row">
                            <div class="col-sm-8">
                                <#input id="studentCode" name="学员编码" value="" underline="true"/>
                                <#input id="student" name="学员姓名" value="" underline="true"/>
                                <#dictSelector id="gender" name ="gender" code="sys_sex" label="学员性别"  underline="true"  width="75%"/>
                                <#input id="age" name="学员年龄" value="" underline="true"/>
                                <#input id="school" name="在读学校" value="" underline="true"/>
                                <#dictSelector id="grade" name ="grade" code="school_grade" label="在读年级"  underline="true"  width="75%"/>
                                <#input id="targetSchool" name="目标学校" value="" underline="true"/>
                                <#input id="mobileNumber" name="家长电话" value="" underline="true"/>
                                <#input id="memberName" name="家长姓名" value=""/>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <div style="margin-top: 110px; margin-left: 55px;">
                                        <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
            </fieldset>
            <h1>报班信息</h1>
            <fieldset>
                <div class="form-horizontal" style="overflow-y:scroll; overflow-x:scroll;">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="row row-lg">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <#TimeCon id="studyDate" name="上课日期" />
                                            </div>
                                            <div class="col-sm-6">
                                                <#TimeCon id="signDate" name="报名日期" />
                                            </div>
                                            <div class="col-sm-3">
                                                <#dictSelectorCondition id="grade" name="年级" code="school_grade" placeholder="-- 选择年级 --" />
                                            </div>
                                            <div class="col-sm-3">
                                                <#dictSelectorCondition id="subject" name="学科" code="subject_type" placeholder="-- 选择学科 --" />
                                            </div>
                                            <div class="col-sm-3">
                                                <#dictSelectorCondition id="ability" name="班次" code="ability" placeholder="-- 选择班次 --" />
                                            </div>
                                            <div class="col-sm-3">
                                                <#dictSelectorCondition id="cycle" name="学期" code="cycle" placeholder="-- 选择学期 --" />
                                            </div>
                                            <div class="col-sm-3">
                                                <#SelectCon id="signState" name="报名状态" >
                                                    <option value="1" selected="selected">可以报名</option>
                                                </#SelectCon>
                                            </div>
                                            <div class="col-sm-3">
                                                <#SelectCon id="examState" name="是否测试" >
                                                    <option value="1" selected="selected">需要测试</option>
                                                </#SelectCon>
                                            </div>
                                            <div class="col-sm-3">
                                                <#NameCon id="teacherQueryString" name="授课老师" />
                                            </div>
                                            <div class="col-sm-3" style="float: right;">
                                                <#button name="搜 索" icon="fa-search" clickFun="SignWizard.ClassPlan.search()"/>
                                            </div>
                                        </div>
                                        <#table id="ClassAuthorityTable"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <h1>缴费</h1>
            <fieldset>
                <form id="confirmForm" class="form-horizontal">
                    <#dictSelector id="payType" name ="payType" code="pay_type" label="缴费方式"  underline="true"  width="75%"/>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
    <div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">
    </div>
</div>
<#script src="/static/js/plugins/steps/jquery.steps.min.js" />
<#script src="/static/modular/classAuthorityMGR/classAuthority_wizard.js" />
@}
