@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="自增主键" value="${item.id}" underline="true"/>
                            <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                            <#input id="phone" name="手机号" value="${item.phone}" />
                </div>

                <div class="col-sm-6">

                    <#select id="type" name="账号类型" underline="true" value="${item.type}">
                        <option value="1">学生</option>
                        <option value="2">老师</option>
                    </#select>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="StudentBaseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="StudentBaseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/student/studentBase/studentBase_info.js"></script>
@}
