@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="classRoomInfoForm">


            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="typeValue" value="${item.type}">
            <input type="hidden" id="statusValue" value="${item.status}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="教室名称" value="${item.name}" underline="true"/>
                            <#dictSelector id="type" name ="类型" code="classroom_type" label="类型"  underline="true"  width="75%"/>
                            <#input id="address" name="教室地址" value="${item.address}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="maxCount" name="最大教学人数" value="${item.maxCount}" underline="true"/>
                            <#dictSelector id="status" name ="状态" code="sys_state" label="状态"  underline="true"  width="75%"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassroomInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassroomInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/classRoomMGR/classroom/classroom_info.js"></script>
@}
