@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>题库管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="subject" name="学科" code="subject_type" placeholder="-- 选择学科 --" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="grade" name="年级" code="school_grade" placeholder="-- 选择年级 --" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="状态" >
                                    <option value="">全部</option>
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="关键字" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Question.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="QuestionTableToolbar" role="group">
                            @if(shiro.hasPermission("/question/add")){
                                <#button name="添 加" icon="fa-plus" clickFun="Question.openAddQuestion()"/>
                            @}
                            @if(shiro.hasPermission("/question/update")){
                                <#button name="修 改" icon="fa-edit" clickFun="Question.openQuestionDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/question/delete")){
                                <#button name="删 除" icon="fa-remove" clickFun="Question.delQuestionDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="QuestionTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#script src="/static/modular/questionMGR/question/question.js" />
@}
