<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="java.util.HashMap">
        <id column="id" property="id" />
        <result column="accept_no" property="acceptNo" />
        <result column="accept_date" property="acceptDate" />
        <result column="status" property="status" />
        <result column="amount" property="amount" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_result" property="payResult" />
        <result column="pay_date" property="payDate" />
        <result column="pay_method" property="payMethod" />
        <result column="user_name" property="userName" />
        <result column="out_order_no" property="outOrderNo" />
        <result column="out_sequence" property="outSequence" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        o.id, o.accept_no, o.accept_date, o.status, o.amount, o.pay_status, o.pay_result, o.pay_date, o.pay_method, o.user_name, o.out_order_no, o.out_sequence
    </sql>

    <sql id="Where_Statement">
        <where>
            <if test="null != orderNo">
                and o.accept_no = #{orderNo}
            </if>

            <if test="null != teacher">
                and cc.teacher like CONCAT('%',#{teacher},'%'))
            </if>

            <if test="null != student">
                and (cc.student_code = #{student} or cc.student like CONCAT('%',#{student},'%'))
            </if>

        </where>
    </sql>

    <select id="queryForList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from
        (
        <if test="null != teacher || null != student">
            (
            (
        </if>
        tb_order o
        <if test="null != teacher || null != student">
            join tb_order_item oi on oi.order_no = o.accept_no )
            join tb_course_cart cc on cc.code = oi.course_cart_code
        </if>
        )

        <include refid="Where_Statement" />
    </select>

    <select id="selectPageList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
            <include refid="Base_Column_List" />
        from tb_order o
        <include refid="Where_Statement" />
    </select>

</mapper>
