<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Question">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="question" property="question" />
        <result column="type" property="type" />
        <result column="subject" property="subject" />
        <result column="grade" property="grade" />
        <result column="status" property="status" />
        <result column="expact_answer" property="expactAnswer" />
        <result column="auto_marking" property="autoMarking" />
        <result column="teacher" property="teacher" />
        <result column="teacher_name" property="teacherName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.id, a.code, a.question, a.type, a.subject, a.grade, a.status, a.expact_answer, a.auto_marking, a.teacher, a.teacher_name
    </sql>


    <select id="selectPageByPaper" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from tb_question a
        <where>
            <if test="null != subject">
                and a.subject = #{subject}
            </if>
            <if test="null != excludePaper">
                and not exists ( select 1 from tb_examine_paper_item where question_code = a.code and paper_code = #{excludePaper}
                <if test="excludeList.size() > 0">
                    and question_code in
                    <foreach collection="excludeList" item="qcode" open="(" separator="," close=")">
                        #{qcode}
                    </foreach>
                </if>
                )
            </if>
            <if test="null != includePaper">
                and exists ( select 1 from tb_examine_paper_item where question_code = a.code and paper_code = #{includePaper} )
            </if>
            <if test="excludeList.size() > 0">
                and a.code not in
                <foreach collection="excludeList" item="qcode" open="(" separator="," close=")">
                    #{qcode}
                </foreach>
            </if>
            <if test="null != status">
                and a.status = #{status}
            </if>
        </where>
    </select>
</mapper>
