<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.ScheduleClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.ScheduleClass">
        <id column="id" property="id" />
        <result column="clas_code" property="classCode" />
        <result column="outline_code" property="outlineCode" />
        <result column="class_date" property="classDate" />
        <result column="week" property="week" />
        <result column="class_time" property="classTime" />
        <result column="end_time" property="endTime" />
        <result column="outline" property="outline" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, clas_code, outline_code, class_date, week, class_time, end_time, outline, sort, status
    </sql>

</mapper>
