<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Teacher">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="type" property="type"/>
        <result column="gender" property="gender"/>
        <result column="graduate" property="graduate"/>
        <result column="grade" property="grade"/>
        <result column="havest" property="havest"/>
        <result column="experience" property="experience"/>
        <result column="feature" property="feature"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, avatar, type, gender, graduate, grade, havest, experience, feature, status
    </sql>

    <select id="selectTeachers" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_teacher
        WHERE 1 = 1
        <if test="name != null and name != ''">
            AND name like CONCAT('%',#{name},'%')
        </if>

    </select>

</mapper>
