@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>课程管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="grade" name="年级" code="school_grade" placeholder="-- 选择年级 --" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="subject" name="学科" code="subject_type" placeholder="-- 选择学科 --" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="当前状态" >
                                    <option value="">全部</option>
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <#NameCon id="condition" name="关键字" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Course.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="CourseTableToolbar" role="group">
                            @if(shiro.hasPermission("/course/add")){
                            <#button name="添加" icon="fa-plus" clickFun="Course.openAddCourse()"/>
                            @}
                            @if(shiro.hasPermission("/course/update")){
                            <#button name="修改" icon="fa-edit" clickFun="Course.openCourseDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/course/outline")){
                            <#button name="设置大纲" icon="fa-cog" clickFun="Course.openCourseOutline()" space="true"/>
                            @}
                        </div>
                        <#table id="CourseTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#script src="/static/modular/courseMGR/course/course.js" />
@}
