@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal"  id="classInfoForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="statusValue" value="${item.status}">
            <input type="hidden" id="studyTimeTypeValue" value="${item.studyTimeType}">
            <input type="hidden" id="classRoomCodeValue" value="${item.classRoomCode}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="code" name="班级编码" value="${item.code}" underline="true"/>
                            <#input id="name" name="班级名称" value="${item.name}" underline="true"/>
                            <#input id="beginDate" name="开课起始日期" value="${item.beginDate}" underline="true"/>
                            <#input id="endDate" name="开课结束日期" value="${item.endDate}" underline="true"/>
                            <#select id="studyTimeType" name="开课时间类型" underline="true">
                                <option value="5">每月</option>
                                <option value="7">每周</option>
                            </#select>
                            <#input id="studyTimeValue" name="开课时间" value="${item.studyTimeValue}" underline="true"/>
                            <#input id="beginTime" name="开始时间" value="${item.beginTime}" underline="true"/>
                            <#input id="endTime" name="结束时间" value="${item.endTime}" underline="true"/>
                            <#input id="duration" name="单位：分钟" value="${item.duration}" />
                </div>

                <div class="col-sm-6">
                            <#input id="period" name="课时数" value="${item.period}" underline="true"/>
                            <#dictSelector id="classRoomCode" name ="教室编码" code="class_code" label="教室编码"  underline="true"  width="75%"/>
                            <#input id="courseCode" name="教授课程" value="${item.courseCode}" underline="true"/>
                            <#input id="courseName" name="课程名称" value="${item.courseName}" underline="true"/>
                            <#input id="star" name="关注度" value="${item.star}" underline="true"/>
                            <#input id="quato" name="剩余报名人数" value="${item.quato}" underline="true"/>
                            <#input id="signEndDate" name="报名截止时间" value="${item.signEndDate}" underline="true"/>
                            <#dictSelector id="status" name ="状态" code="account_state" label="状态"  underline="true"  width="75%"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/classMGR/class/class_info.js"></script>
<script>
    laydate.render({
        elem: '#beginDate'
    });
    laydate.render({
        elem: '#endDate'
    });
    laydate.render({
        elem: '#signEndDate'
    });
</script>
@}
