@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/plugins/fullcalendar/calendar.css?v=3.10.0" rel="stylesheet">
<link href="${ctxPath}/static/css/plugins/fullcalendar/calendar.min.css?v=3.10.0" rel="stylesheet">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row row-lg">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-3 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">课程列表</div>
                            <div class="panel-body course-grid">
                                <#table id="courseTable"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="form-horizontal" id="classInfoForm">

                            <input type="hidden" id="courseCode" >
                            <input type="hidden" id="grade" >
                            <input type="hidden" id="subject" >
                            <input type="hidden" id="teacher" >
                            <input type="hidden" id="teacherSecond" >
                            <input type="hidden" id="studyTimeType" value="7" >
                            <input type="hidden" id="studyTimeValue" value="" >
                            <input type="hidden" id="classRoom" >

                            <div class="row">
                                <div class="col-sm-6 b-r">
                                    <#input id="courseName" name="课程名称" readonly="true" underline="true"/>
                                    <#input id="gradeName" name="授课年级" readonly="true" underline="true"/>
                                    <#input id="period" name="总学时" readonly="true" underline="true"/>

                                </div>

                                <div class="col-sm-6">
                                    <#input id="subjectName" name="学科" readonly="true" underline="true"/>
                                    <#input id="methodName" name="授课方式" readonly="true" underline="true" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 b-r">
                                    <#input id="name" name="班级名称" underline="true"/>
                                    <#dictSelector id="cycle" name="学期" code="cycle" label="学期"  underline="true" width="75%"/>
                                    <#input id="beginDate" name="开始日期" underline="true" type="text"/>
                                    <#input id="beginTime" name="上课时间" underline="true"/>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">讲师</label>
                                        <div class="col-sm-9">
                                            <select id="teacherCode" name="讲师" class="form-control" style="width:75%px"></select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed" ></div >
                                    <#input id="signEndDate" name="截止日期" underline="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <#input id="price" name="价格(元)" underline="true"/>
                                    <#dictSelector id="ability" name="班次" code="ability" label="班次"  underline="true" width="75%"/>
                                    <#input id="endDate" name="结束日期" underline="true"/>
                                    <!--<#input id="studyTimeValue" name="排课时间" underline="true"/>-->
                                    <#input id="endTime" name="下课时间" underline="true"/>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">辅导员</label>
                                        <div class="col-sm-9">
                                            <select id="teacherSecondCode" name="辅导员" class="form-control" style="width:75%px"></select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed" ></div >
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">教室</label>
                                        <div class="col-sm-9">
                                            <select id="classRoomCode" name="教室" class="form-control" style="width:75%px"></select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed" ></div >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 b-r">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-left: -30px;">排课时间</label>
                                        <div class="col-sm-10">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="1">周日
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="2">周一
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="3">周二
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="4">周三
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="5">周四
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="6">周五
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="studyTimeValue" value="7">周六
                                            </label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed" ></div >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div id='calendar'></div>
                    </div>
                </div>

                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassInfoDlg.addSubmit()"/>
                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassInfoDlg.close()"/>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<#script src="/static/modular/classMGR/class/class_info.js" />
<#script src="/static/js/plugins/fullcalendar/moment.js" />
<#script src="/static/js/plugins/fullcalendar/bootbox.js" />
<#script src="/static/js/plugins/fullcalendar/calendar.js" />
<script>
    laydate.render({
        elem: '#beginDate'
    });
    laydate.render({
        elem: '#endDate'
    });
    laydate.render({
        elem: '#signEndDate'
    });
</script>
@}
