@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="下一步" id="next" icon="fa-check" clickFun="ClassInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel_1" icon="fa-eraser" clickFun="ClassInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="classInfoForm">

            <input type="hidden" id="classRoom" >
            <input type="hidden" id="courseName" >
            <input type="hidden" id="teacher" >
            <input type="hidden" id="teacherSecond" >

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="班级名称" underline="true"/>
                            <#dictSelector id="grade" name="年级" code="school_grade" label="年级"  underline="true" width="75%"/>
                            <#dictSelector id="cycle" name="学期" code="cycle" label="学期"  underline="true" width="75%"/>
                            <#dictSelector id="ability" name="班次" code="ability" label="班次"  underline="true" width="75%"/>
                            <#input id="beginDate" name="开课起始日期" underline="true" type="text"/>
                            <#input id="endDate" name="开课结束日期" underline="true"/>
                            <#dictSelector id="studyTimeType" name ="开课时间类型" code="time_type_code" label="开课时间类型"  underline="true"  width="75%"/>
                            <#input id="studyTimeValue" name="开课时间" underline="true"/>
                            <#input id="beginTime" name="开始时间" underline="true"/>
                            <#input id="endTime" name="结束时间" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="duration" name="时长：分钟"/>
                            <div class="hr-line-dashed" ></div >
                            <#input id="period" name="课时数" underline="true"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">教室</label>
                                <div class="col-sm-9">
                                    <select id="classRoomCode" name="教室" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div >
                            <div class="form-group">
                                <label class="col-sm-3 control-label">课程名称</label>
                                <div class="col-sm-9">
                                    <select id="courseCode" name="课程名称" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div >
                            <#input id="star" name="关注度" underline="true"/>
                            <#input id="price" name="价格(元)" underline="true"/>
                            <#input id="quato" name="剩余报名人数" underline="true"/>
                            <#input id="signEndDate" name="报名截止时间" underline="true"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">主讲教师名称</label>
                                <div class="col-sm-9">
                                    <select id="teacherCode" name="主讲教师名称" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div >
                            <div class="form-group">
                                <label class="col-sm-3 control-label">辅导教师名称</label>
                                <div class="col-sm-9">
                                    <select id="teacherSecondCode" name="辅导教师名称" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div >
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<#script src="/static/modular/classMGR/class/class_info.js" />
<script>
    laydate.render({
        elem: '#beginDate'
    });
    laydate.render({
        elem: '#endDate'
    });
    laydate.render({
        elem: '#signEndDate'
    });
</script>
@}
