@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>学员报名情况统计</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="teacher" name="老师关键字" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="student" name="学员关键字" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="grade" name="年级" code="school_grade" placeholder="-- 选择年级 --" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="subject" name="学科" code="subject_type" placeholder="-- 选择学科 --" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="ability" name="班次" code="ability" placeholder="-- 选择班次 --" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="cycle" name="学期" code="cycle" placeholder="-- 选择学期 --" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="StudentSign.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="StudentSignTableToolbar" role="group">
                            @if(shiro.hasPermission("/statistic/student/sign/export")){
                            <#button name="按条件导出" icon="fa-download" clickFun="StudentSign.export()" space="true"/>
                            @}
                        </div>
                        <#table id="StudentSignTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#script src="/static/modular/statisticMGR/student/sign.js" />
@}
