@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="code" name="内容编码： CT + 年月日（6位）+ 8位序列码" value="${item.code}" underline="true"/>
                            <#input id="type" name="类型： 1 普通文章   2 外链文章  3 外链视频" value="${item.type}" underline="true"/>
                            <#input id="timage" name="标题图片" value="${item.timage}" underline="true"/>
                            <#input id="title" name="标题" value="${item.title}" underline="true"/>
                            <#input id="introduce" name="一句话简介" value="${item.introduce}" />
                </div>

                <div class="col-sm-6">
                            <#input id="author" name="作者" value="${item.author}" underline="true"/>
                            <#input id="publishType" name="发布类型： R 引用   O 原创" value="${item.publishType}" underline="true"/>
                            <#input id="content" name="内容，富文本内容" value="${item.content}" underline="true"/>
                            <#input id="createDate" name="创建时间" value="${item.createDate}" underline="true"/>
                            <#input id="deadDate" name="下架时间" value="${item.deadDate}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ContentInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ContentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/contentMGR/content/content_info.js"></script>
@}
