@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="contentInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#avatar id="timage" name="标题图片" underline="true"/>
                    <#input id="code" name="内容编码" underline="true"/>
                    <#dictSelector id="type" name ="类型" code="content_type" label="类型"  underline="true"  width="75%"/>
                    <#input id="title" name="标题" underline="true"/>
                    <#input id="introduce" name="一句话简介" />
                </div>

                <div class="col-sm-6">
                    <#input id="author" name="作者" underline="true"/>
                    <#dictSelector id="publishType" name ="发布类型" code="content_type" label="发布类型"  underline="true"  width="75%"/>
                    <#input id="content" name="内容，富文本内容" underline="true"/>
                    <#input id="deadDate" name="下架时间" underline="true"/>
                    <#dictSelector id="status" name ="状态" code="account_state" label="状态"  underline="true"  width="75%"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ContentInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ContentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/contentMGR/content/content_info.js"></script>
@}
