@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>订单管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Order.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="OrderTableToolbar" role="group">
                            @if(shiro.hasPermission("/order/class/update")){
                                <!--<#button name="管理订单" icon="fa-edit" clickFun="Order.openOrderManager()" space="true"/>-->
                            @}
                            @if(shiro.hasPermission("/order/class/detail")){
                                <#button name="查看详情" icon="fa-edit" clickFun="Order.openOrderDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/order/class/close")){
                                <!--<#button name="关闭订单" icon="fa-remove" btnCss="warning" clickFun="Order.close()" space="true"/>-->
                            @}
                        </div>
                        <#table id="OrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#script src="/static/modular/orderMGR/order/order.js" />
@}
