@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<style>
    .wizard-big.wizard > .content{
        height: auto !important;
        min-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<input type="hidden" id="classCode" value="${classInfo.code}" />
<div class="ibox float-e-margins" style="heigth: 100%;">
    <div class="ibox-content">
        <div id="wizard" class="wizard-big" style="overflow-y:auto; overflow-x: hidden; height: auto !important; min-height: 600px;">
            <h1>报名信息</h1>
            <fieldset>
                <form id="basicForm" class="form-horizontal">
                    <div class="row">
                            <div class="col-sm-8">
                                <#input id="studentCode" name="学员编码" value="" underline="true"/>
                                <#input id="student" name="学员姓名" value="" underline="true"/>
                                <#dictSelector id="gender" name ="gender" code="sys_sex" label="学员性别"  underline="true"  width="75%"/>
                                <#input id="age" name="学员年龄" value="" underline="true"/>
                                <#input id="school" name="在读学校" value="" underline="true"/>
                                <#dictSelector id="grade" name ="grade" code="school_grade" label="在读年级"  underline="true"  width="75%"/>
                                <#input id="targetSchool" name="目标学校" value="" underline="true"/>
                                <#input id="mobileNumber" name="家长电话" value="" underline="true"/>
                                <#input id="memberName" name="家长姓名" value=""/>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <div style="margin-top: 110px; margin-left: 55px;">
                                        <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
            </fieldset>
            <h1>报名确认</h1>
            <fieldset>
                <form class="form-horizontal" style="overflow-y: auto;">
                    <fieldset>
                        <legend>客户信息</legend>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <#input id="member_mobileNumber" name="联系号码" value="" underline="true" readonly="true"/>
                        </div>

                        <div class="col-sm-6">
                            <#input id="member_name" name="用户姓名" value="" underline="true" readonly="true"/>
                        </div>
                    </div>
                    <fieldset>
                        <legend>学员信息</legend>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <#input id="student_name" name="学员名称" value="" underline="true" readonly="true"/>
                            <#input id="student_school" name="所读学校" value="" underline="true" readonly="true"/>
                            <#input id="student_gradeName" name="所读年级" value="" underline="true" readonly="true"/>
                            <#input id="student_targetSchool" name="目标学校" value="" underline="true" readonly="true"/>
                        </div>

                        <div class="col-sm-6">
                            <#input id="student_age" name="年龄" value="" underline="true" readonly="true"/>
                            <#input id="student_genderName" name="性别" value="" underline="true" readonly="true"/>
                            <#input id="student_remark" name="备注" value="" underline="true"/>
                        </div>
                    </div>
                    <fieldset>
                        <legend>班级信息</legend>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <#input id="acceptNo" name="班级名称" value="${classInfo.name}" underline="true" readonly="true"/>
                            <#input id="acceptDate" name="主讲老师" value="${classInfo.teacher}" underline="true" readonly="true"/>
                            <#input id="status" name="辅导老师" value="${classInfo.teacherSecond!}" underline="true" readonly="true"/>
                        </div>

                        <div class="col-sm-6">
                            <#input id="payResult" name="费用（元）" value="${classInfo.price}" underline="true" readonly="true"/>
                            <#input id="payResult" name="班级学期" value="${classInfo.cycleName}" underline="true" readonly="true"/>
                            <#input id="payResult" name="班级班次" value="${classInfo.abilityName}" underline="true" readonly="true"/>
                        </div>
                    </div>
                    <div class="row">
                        <#table id="ClassPlanTable" />
                    </div>
                </form>
            </fieldset>
            <h1>缴费</h1>
            <fieldset>
                <form id="confirmForm" class="form-horizontal">
                    <#dictSelector id="payType" name ="payType" code="pay_type" label="缴费方式"  underline="true"  width="75%"/>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
    <div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">
    </div>
</div>
<#script src="/static/js/plugins/steps/jquery.steps.min.js" />
<#script src="/static/modular/orderMGR/order/sign_wizard.js" />
@}
