@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="importInfoForm">
            <input type="hidden" id="classCode" value="${item.code}" />
            <input type="hidden" id="masterCode" value=""/>
            <input type="hidden" id="masterName" value=""/>
            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-9">
                                <div class="head-scu-btn upload-btn" id="timageBtnId">
                                    <i class="fa fa-upload"></i>&nbsp;上传
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label head-scu-label">请选择导入文件</label>
                            <div class="col-sm-9">
                                <div id="timagePreId">
                                    <div><img id="displayImage" width="100%" height="5" src="${ctxPath}/attachment/view/icon/0"></div>
                                </div>
                            </div>
                            <input type="hidden" id="masterCode" value=""/>
                            <input type="hidden" id="masterName" value=""/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10 col-sm-offset-5">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ImportInfoDlg.doSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ImportInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<#script src="/static/modular/orderMGR/order/sign_import.js" />
@}
