@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="classExamStrategyInfoForm">
            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="classCodeValue" value="${item.classCode}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">教室</label>
                                <div class="col-sm-9">
                                    <select id="classCode" name="教室" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <#input id="count" name="题目数量" value="${item.count}" underline="true"/>
                            <#input id="duration" name="测试时间" placeholder="单位： 分钟" value="${item.duration}" underline="true"/>
                            <#input id="fullCredit" name="总分数" value="${item.fullCredit}" />
                </div>

                <div class="col-sm-6">
                            <#input id="selectRatio" name="选择题占比" placeholder="1 - 100"  value="${item.selectRatio}" underline="true"/>
                            <#input id="fillRatio" name="填空题占比"  placeholder="1 - 100"  value="${item.fillRatio}" underline="true"/>
                            <#input id="subjectRatio" name="主观题占比"  placeholder="1 - 100"  value="${item.subjectRatio}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassExamStrategyInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassExamStrategyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/classExamStrategyMGR/classExamStrategy/classExamStrategy_info.js"></script>
@}
