@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="classExamStrategyInfoForm">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">班级</label>
                                <div class="col-sm-9">
                                    <select id="classCode" name="班级" class="form-control" style="width:75%px"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed" ></div >
                            <#input id="count" name="题目数量" underline="true" placeholder="单位： 分钟"/>
                            <#input id="duration" name="测试时间" underline="true" placeholder="单位： 分钟"/>
                            <#input id="fullCredit" name="总分数" placeholder="分數：1-100"/>
                </div>

                <div class="col-sm-6">
                            <#input id="selectRatio" name="选择题占比" underline="true" placeholder="比例（%）：1 - 100"/>
                            <#input id="fillRatio" name="填空题占比" underline="true"  placeholder="比例（%）：1 - 100"/>
                            <#input id="subjectRatio" name="主观题占比" underline="true"  placeholder="比例（%）：1 - 100"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClassExamStrategyInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClassExamStrategyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/classExamStrategyMGR/classExamStrategy/classExamStrategy_info.js"></script>
@}
