@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div id="wizard" class="wizard-big">
            @for(question in questionList){
            <h1>${question.title}</h1>
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        ${question.question}
                    </div>
                </div>
                @for(answerItem in question.answerList){
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-1">
                            <label class="control-label" style="margin-top: 8px;"><#serialNumber type="letter" index="${answerItemLP.index - 1}" /></label>
                        </div>
                        <div class="col-xs-9">
                            <pre>${answerItem.text}</pre>
                        </div>
                    </div>
                </div>
                @}
            </fieldset>
            @}
        </div>

        <div class="row btn-group-m-t">
            <div class="col-xs-10 col-xs-offset-4">
                <#button btnCss="danger" name="关 闭" id="cancel" icon="fa-eraser" clickFun="QuestionViewDlg.close()"/>
            </div>
        </div>
    </div>
</div>
<#script src="/static/js/plugins/steps/jquery.steps.min.js" />
<#script src="/static/modular/examineMGR/paper/paper_wizard_review.js" />
@}
