@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>答卷管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="grade" name="年级" code="school_grade" placeholder="-- 选择年级 --" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="subject" name="学科" code="subject_type" placeholder="-- 选择学科 --" />
                            </div>
                            <div class="col-sm-3">
                                <#dictSelectorCondition id="ability" name="班次" code="ability" placeholder="-- 选择班次 --" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="状态" >
                                    <option value="">全部</option>
                                    <option value="1">测试中</option>
                                    <option value="3">已交卷</option>
                                    <option value="4">已批改</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="student" name="学员关键字" />
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group m-b-sm">
                                    <span class="input-group-addon">最小得分</span>
                                    <input type="text" class="form-control" id="beginScore" placeholder="起始分值" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group m-b-sm">
                                    <span class="input-group-addon">最大得分</span>
                                    <input type="text" class="form-control" id="endScore" placeholder="终止分值" />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Answer.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AnswerTableToolbar" role="group">
                            @if(shiro.hasPermission("/examine/paper/add")){
                            <#button name="创建" icon="fa-plus" clickFun="Answer.openAddExamineAnswer();"/>
                            @}
                            @if(shiro.hasPermission("/examine/paper/update")){
                            <#button name="修改" icon="fa-edit" clickFun="Answer.openExamineAnswerDetail();" space="true"/>
                            @}
                            @if(shiro.hasPermission("/examine/paper/delete")){
                            <#button name="删除" icon="fa-delete" clickFun="Answer.delete();" space="true"/>
                            @}
                        </div>
                        <#table id="AnswerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#script src="/static/modular/examineMGR/answer/answer.js" />
@}
