@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="anwserInfoForm" >
            <input type="hidden" id="id" value="${item.id}" />

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="paperCode" name="试卷编码" value="${item.paperCode}" underline="true"/>
                            <#input id="studentCode" name="学员编码" value="${item.studentCode}" underline="true"/>
                            <#input id="quota" name="题目数量" value="${item.quota}" underline="true"/>
                            <#input id="totalScore" name="总分值" value="${item.totalScore}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <#input id="answerQuota" name="已答题数量" value="${item.answerQuota}" />
                            <#input id="score" name="得分数" value="${item.score}" underline="true"/>
                            <#input id="beginDate" name="测试开始时间" value="${item.beginDate}" underline="true"/>
                            <#input id="teacher" name="评卷人" value="${item.teacher}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExamineAnswerInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExamineAnswerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/examineMGR/answer/examineAnswer_info.js"></script>
@}
